# AmzSpApi::OrdersApiModel::VerificationStatus

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------

